.showing{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    color:#575757;

}
.showing .left {
    font-weight: 500;

}
.showing .left  span{
    font-size: 20px;
}
.showing .right {
    border-radius: 25px;
    padding: 10px ;
    border: 1px solid #575757;
}
.showing .right select{
    outline: none;
    border: none;
    padding: 0;
    color: #575757;
}
.showing .right select option {
    background-color: black;
    color: #e0e0e0;
}
.showing .right select option:hover{
    background-color: black;

}


.showMoreButton{

text-align: center;
}
.showMoreButton button{
    border: none;
    outline: none;
    background-color: #e0e0e0;
    color: black;
    border: 1px solid #e0e0e0;
}
.showMoreButton button:hover{
    color: #FF4141;
}



