.hero{
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    text-transform:uppercase ;
}
.hero .left p{
    color: black;
    font-weight: 500;
    font-size: 22px;
}
.hero .left h2{ 
    text-transform: lowercase;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 50px;
    width: 350px;
}
.hero .left h2 img{
    width: 80px;
   

}
.hero .left a{
    background-color: #FF4141;
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
    text-transform: capitalize;
    font-size: 19px;
}
.hero .right img{
    width: 100%;
    height: 90vh;
}
.subscribe {
    margin: 50px 100px ;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    /* justify-content:space-between; */
    padding: 50px 100px;
    /* height: 400px; */
    align-items: center;
    flex-direction: column;
}

.subscribe h3 {
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 30px;
}
.subscribe p {
    color: #4b4b4b;
    margin-bottom: 20px;
}
.subscribe div{
    display: flex;
    margin-top: 10px;

}
.subscribe input {
    border: 1px solid #dddddd ;
    outline: none;
    font-size: 15px;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    border-right-color: transparent;
    width: 300px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.subscribe button{
    border: none;
    outline: none;
    margin-left: 19px;
    background-color: black;
}
/*  */
