.panar{
    margin: 50px 100px;
    background: linear-gradient(180deg,#fde1ff,#e1ffea22 60%);
    display: flex;
    justify-content:space-between;
    padding: 20px 100px;
    height: 400px;
    align-items: center;
}
.panar img{
    height: calc(100% + 20px) ;
}
.panar .text{
    display: flex;
    flex-direction: column;
}
.panar .text  h3{
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 20px;
}
.panar .text  p{
    font-size: 16px;
    text-transform: uppercase;
}
.panar .text  a.button_link{
    margin: 0;
    font-size: 15px;
    margin-top: 20px;
    flex-shrink: 4;
    max-width: fit-content;

}
br{
    display: block;
    content: "";
 }
 /* responsive  */
 @media (max-width: 992px) {
    .panar {
        margin: 50px;
        padding: 50px;
    }
    
 }
 @media (max-width: 767px) {
    .panar{
    margin: 30px;
    padding: 20px;
 }
 .panar img {
    display: none;
 }
.panar .text{
    margin-top: -70px;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    text-align: center;
    width: 100%;
}
.panar .text h3{
    text-align: center;
}
.panar br {
    margin-bottom: 0;
    display: none;
}
}
